<nav class="navbar">
  <div class="logo">
    🏏 <span>StumpTalk</span>
  </div>
  <a href="https://stumptalk-quiz.netlify.app" target="_blank" class="btn"> 🎮 Play Cricket Quiz </a>
  <ul class="nav-links">
    <li><a href="/">Home</a></li>
    <li><a href="/new">New Post</a></li>
    <li><a href="/explore">Explore</a></li>
  
  </ul>
</nav>
